@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Expo Arabic", "sans-serif";
}

html{
    scroll-behavior: smooth;
}
/*::-webkit-scrollbar{*/
/*	width: 5px;*/
/*	padding: 3px 5px;*/
/*}*/
/*::-webkit-scrollbar-track {*/
/*  background: white;*/
/*}*/
/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*  background: linear-gradient(#eeffbc, #ffcfe0, #a9ccdf);*/
/*	border-radius: 100px;*/
/*}*/
/*::-webkit-scrollbar-thumb:hover {*/

/*}*/

@font-face {
    font-family: "Expo Arabic";
    src: local("Expo Arabic"),
    url("../fonts/Expo Arabic/Expo Arabic Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Expo Arabic";
    src: local("Expo Arabic"),
    url("../fonts/Expo Arabic/Expo Arabic Book.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Expo Arabic";
    src: local("Expo Arabic"),
    url("../fonts/Expo Arabic/Expo Arabic Light.ttf") format("truetype");
    font-weight: Light;
}
@font-face {
    font-family: "Expo Arabic";
    src: local("Expo Arabic"),
    url("../fonts/Expo Arabic/Expo Arabic Medium.ttf") format("truetype");
    font-weight: Medium;
}

