@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Light mode (default) */
:root {
  --color-primary: #fff;
  --color-primary-foreground: #000;
  --main-orange: #ff7f50;
  --color-secondary: #f3f4f6;
}

/* Dark mode (when user selects "dark" or system is dark) */
.dark {
  --color-primary: #000;
  --color-primary-foreground: #fff;
  --main-orange: #ff7f50;
  --color-secondary: #252321;
}

html {
  scroll-behavior: smooth;
}

/*::-webkit-scrollbar{*/
/*	width: 5px;*/
/*	padding: 3px 5px;*/
/*}*/
/*::-webkit-scrollbar-track {*/
/*  background: white;*/
/*}*/
/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*  background: linear-gradient(#eeffbc, #ffcfe0, #a9ccdf);*/
/*	border-radius: 100px;*/
/*}*/
/*::-webkit-scrollbar-thumb:hover {*/

/*}*/
